[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyvista = "==0.46.4"
numpy = "==2.4.0"

[dev-packages]
ruff = "==0.14.13"
isort = "==7.0.0"

[requires]
python_version = "3.12"
